doctype html 
html(lang=fr)
    head 
        meta(name='description' content='Le site web')
        title La plateforme commerciale de l'e6k
        link(rel='stylesheet', href='/css/index.css')

    
    body 
        nav 
            ul 
                li 
                    a(href='/') Home
                li 
                    a(href='/products') Products
                li 
                    a(href='/contact') Contact us 

        block content